@model List<Shifu.Models.Goal>
@{
    Layout = "_Layout";
}

 @* created by Jonathan Ghattas  #991703952 *@

<div class="d-flex justify-content-between align-items-center mb-3">
    <span class="fw-bold fs-3">Goal Tracker</span>
    <a asp-controller="Home" asp-action="Dashboard" class="btn btn-outline-secondary">Back to Dashboard</a>
</div>

<form asp-action="AddGoal" method="post">
    <input type="text" name="title" placeholder="Goal title" class="form-control mb-2" required />
    <input type="text" name="description" placeholder="Description" class="form-control mb-2" />
    <input type="date" name="targetDate" class="form-control mb-2" />
  
    <button type="submit" class="btn btn-success">Add Goal</button>
</form>




<hr />
<div class=" box rounded d-flex flex-column justify-content-start  border h-100"
     style="background-image: url('@Url.Content("~/bgGreen.png")');   overflow-y: auto; padding: 1rem; background-size: cover; background-position: left;">
<h3>Pending Goals</h3>

   
<ul>
        <div class="p-3 mb-3 rounded bg-white  d-flex flex-column  w-50">
    @foreach (var goal in Model.Where(g => !g.Completed))
    {
        <li>
            <strong>@goal.Title</strong>
            @if (goal.TargetDate != null)
            {
                <span>(@goal.TargetDate?.ToString("dd MMM yyyy"))</span>
            }
            <p>@goal.Description</p>

             


            <form asp-action="MarkCompleted" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@goal.Id" />
                <button type="submit" class="btn btn-sm btn-success">Mark Completed</button>
            </form>
        </li>
        
    }
    </div>
</ul>


<h3>Completed Goals</h3>
<ul>
        <div class="p-3 mb-3 rounded bg-white  d-flex flex-column  w-50">
    @foreach (var goal in Model.Where(g => g.Completed))
    {
        
        <li>@goal.Title</li>
        <p>@goal.Description</p>
        
        
    }
</div>
</ul>
</div>


