@model UserData
@inject Shifu.Services.JournalManager JournalManager
@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<div class="container-fluid vh-100 p-0">
    <div class="row column-gap-1 flex-nowrap vh-100 box">
        <div class="col-3 box rounded d-flex flex-column align-items-center overflow-y-auto border p-2"
             style="background-image: url('@Url.Content("~/bgGreen.png")'); background-size: cover; background-position: left; max-height: 100vh">
            
            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
                <h5>Welcome!</h5>
                <p>@(char.ToUpper(@Model.FirstName[0]) + Model.FirstName.Substring(1).ToLower())
                    @(char.ToUpper(@Model.LastName[0]) + Model.LastName.Substring(1).ToLower())
                </p>
                <a asp-action="EditProfile" class="btn btn-outline-secondary">Edit Profile</a>
            </div>


            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
            @if (ViewBag.OldestGoal != null)
            {
                <h5>Your Current Goal:</h5>
                <p><strong>@ViewBag.OldestGoal.Title</strong></p>

                @if (ViewBag.OldestGoal.TargetDate != null)
                {
                    <p>Target date: @ViewBag.OldestGoal.TargetDate.ToString("dd MMM yyyy")</p>
                   
                }

                <a asp-controller="Goals" asp-action="Index" class="btn btn-outline-primary">
                    View All Goals
                </a>
            }
            else
            {
                <h5>How's your goals coming along?</h5>
                <a asp-controller="Goals" asp-action="Index" class="btn btn-outline-primary">
                    Try setting a goal!
                </a>
            }
        </div>


            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
                <h5>Resources for you</h5>
                <a asp-controller="Resources" asp-action="Index" class="btn btn-outline-primary">
                    View Resources
                </a>
            </div>

            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
                <h5>Journal Streak</h5>
                @if (Model.JournalStreak.HasValue && Model.JournalStreak.Value != 0)
                {
                    <p>@Model.JournalStreak.Value</p>
                }
                else
                {
                    <p>Try writing in your journal!</p>
                }

            </div>
            
            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
                <h5>Get Connected!</h5>
                <a asp-controller="Events" asp-action="Index" class="btn btn-outline-secondary">Find local events near you</a>
            </div>
            
            
            <div class="p-3 mb-3 rounded shadow bg-white text-center" style="width: 90%;">
                <h5>Talk to a Mentor</h5>
                <a asp-controller="Mentor" asp-action="Chat" class="btn btn-outline-secondary">
                    Open Chat 
                </a>
            </div>

            
            
            
            
            <div class="container text-center">
                <a asp-action="SignOut" class="btn btn-outline-danger">Sign Out</a>
            </div>
           

            
        </div>
        <div class="col-9 box rounded d-flex flex-column align-items-start border bg-body-secondary h-100 overflow-auto p-3" id="journalPanel"
             style="background-image: url('@Url.Content("~/bgGreen.png")'); overflow-y: auto; padding: 1rem; background-size: cover; background-position: left;">
            @await Html.PartialAsync("_JournalPartial", Model)

           
            <div class="mt-3 p-3 bg-white rounded shadow w-100">
                <h5>Add a Goal for today!</h5>
                <form asp-controller="Goals" asp-action="AddGoalFromFootnote" method="post">
                    <input type="text" name="Title" class="form-control mb-2" placeholder="Write your footnote here..." required />
                    <input type="date" name="TargetDate" class="form-control mb-2" /> 
                    <button type="submit" class="btn btn-success">Create Goal</button>
                </form>
            </div>

        </div>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $("#journalPanel").on("submit", "#journalForm", function (e) {
                        e.preventDefault();
                        var form = $(this);
                        $.ajax({
                            type: "POST",
                            url: "/Journal/AddEntry",
                            data: form.serialize(),
                            success: function (result) {

                                $("#journalPanel").html(result);
                            },
                            error: function () {
                                alert("Failed to add entry.");
                            }
                        });
                    });
                });
            </script>
        }



    </div>

    </div>



